@import './variable'
.ick-header
  position fixed
  top 0
  height 0.64rem
  width 100%
  background-color $basicColor
  display flex
  align-items center
  justify-content space-between
  padding 0 0.1rem
  z-index 4
  .ick-header__img
    display flex
    align-items center
  .ick-logo
    border-radius 0.04rem
    width 0.25rem
    height 0.25rem
  .ick-name
    color #ffffff
    padding-left 0.05rem
    font-size 0.2rem
  .ick-header__download
    display inline-block
    color #ffffff
    height 0.3rem
    line-height 0.3rem
    font-size 0.15rem
    border 1px solid rgba(255,255,255,0.5)
    padding 0 0.1rem
    border-radius 37.5%/100%