.ick-hotmusics
  .hotmusics-header
    position relative
    padding-top 38.9%
    overflow hidden
    background url(../images/hot_music_bg_2x.jpg) no-repeat
    background-size contain
    .bg-wrapper
      display flex
      -webkit-box-orient vertical
      -webkit-box-direction normal
      flex-direction column
      justify-content center
      z-index 2
      padding-left .2rem
      box-sizing border-box
      .hot-bg
        width 1.42rem
        height .67rem
      .bg-img
        background url(../images/index_icon_2x.png) no-repeat
        background-size 1.66rem .97rem
        background-position -.24rem -.3rem
      .hot-time
        display inline-block
        margin-top .1rem
        color hsla(0,0%,100%,.8)
        font-size .12rem
        transform scale(.91)
        transform-origin left top