@import '../../assets/css/variable'

.ick-basedivider__content
  position relative
  padding-left 0.09rem
  margin-bottom .14rem
  font-size .17rem
  height .2rem
  line-height .2rem
  &::after
    content " "
    position absolute
    left 0
    top 50%
    margin-top -0.09rem
    width 0.02rem
    height .16rem
    background-color $basicColor