.ick-musicitem
  .music-item
    margin-left .1rem
    border-bottom .01rem solid #ebebeb
    justify-content space-between
    .music-left
      flex 1 1 auto
      padding .06rem 0
      width 0
      .music-name
        .name
          font-size 0.17rem
        .more
          color #888
          margin-left 4px
      .music-info
        display inline-block
        width .12rem
        height .08rem
        margin-right .04rem
        background url('../../assets/images/index_icon_2x.png') no-repeat
        background-size 1.66rem .97rem
      .mini-font
        font-size .12rem
        color #888
    .music-rank
      width .28rem
      font-size .17rem
      color #999
    .ranktop
      color #df3436
    .music-button
      display inline-block
      padding 0 0.1rem
      .music-player
        display inline-block
        width .22rem
        height .22rem
      .basebg
        background url('../../assets/images/index_icon1_2x.png') no-repeat
        background-size 1.66rem 0.97rem
        background-position -0.24rem 0